<form action="/lies?{{_id}}?_method=PUT" method="POST">
  <input type="text" name="lie" value="{{statement}}">
  <input type="text" name="truth" value="{{truth}}">
  <button id='lie-btn'>Submit</button>
</form>
