<form action="/lies" method="POST">
  <input type="text" name="lie" placeholder="Add a lie">
  <input type="text" name="truth" placeholder="Tell the truth">
  <button id='lie-btn'>Submit</button>
</form>
